<div class="modal fade mention-legal-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="cgu-titre">Mentions Légales</p>
            </div>
            <div class="modal-body">
                <p class="cgu-titre2">L'entreprise :</p>
                <p class="cgu-text">SAS 3collaboractifs</p>
                <p class="cgu-text">RCS: 808 297 386</p>
                <p class="cgu-text">Capital Social: 10 500€</p>

                <p class="cgu-titre2">Adresse:</p>
                <p class="cgu-text">7 rue Edouard Fournier</p>
                <p class="cgu-text">45000 Orléans</p>

                <p class="cgu-titre2">Créateurs:</p>
                <p class="cgu-text">CLOUET Fabien</p>
                <p class="cgu-text">DE OLIVEIRA Rafaël</p>
                <p class="cgu-text">MARIE Dimitri</p>

                <p class="cgu-titre2">Hébergement:</p>
                <p class="cgu-text">OVH</p>

                <p class="cgu-titre2">Mail:</p>
                <p class="cgu-text">contact@styx-students.com</p>



                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
</div>