{% load staticfiles %}
<html>
<head>
    <title>Styx - Profite de ce que t'as pas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/quick_registration.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'js/quick_registration.js' %}"></script>
    <script src="{% static 'js/updateSchool.js' %}"></script>
</head>
<body>
<img id="logo" src="{% static 'images/homepage/styx-logo.png' %}">
<span id="slogan">Profite de<br/>ce que t'as pas.</span>
<content>
            <span class="l1">
                <h2>Bienvenue sur Styx !</h2>
                Termine ton inscription en quelques secondes
            </span>
    <div class="c_inscription">
        <div class="inscription form">

            {% if form.firstname.errors %}
            <div class="text-error">{{ form.firstname.errors.0}}</div>
            {% elif form.name.errors %}
            <div class="text-error">{{ form.name.errors.0}}</div>
            {% elif form.email.errors %}
            <div class="text-error">{{ form.password.errors.0}}</div>
            {% elif form.password2.errors %}
            <div class="text-error">{{ form.password2.errors.0}}</div>
            {% endif %}

            <form action="/complete_registration/" method="post">
                {% csrf_token %}
                <div class="form1">
                    {{ form.non_field_errors }}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <div class="select-box">
                        <label for="select-box1" class="label select-box1">
                            <span class="label-desc">Département</span>
                        </label>
                        {{ form.department }}
                    </div>
                    {{ form.city }}
                    {{ form.school }}

                    <div class="valid suite">Suite</div>
                </div>
                <div class="form2">

                    <a id="facebook" type='hidden' href="{% url 'social:begin' 'facebook' %}?next=/set_school_facebook_signup&method=signup"></a>

                    <div class="facebook">Inscription via Facebook</div>
                    <p>OU</p>
                    {{ form.firstname }}
                    {{ form.name }}
                    {{ form.password }}
                    {{ form.password2 }}

                    <input class="valid" type="submit" value="Valider">
                </div>
            </form>
        </div>
    </div>
</content>
</body>
</html>
